.inputSearch {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1.125rem 2rem;
  background-color: var(--White);
  box-shadow: 0 1px 3px hsl(0, 0%, 52%, 25%);
  border-radius: 0.25rem;
  align-items: center;
  width: 360px;
}

.inputSearch input {
  border: 0;
  font-weight: 600;
  background-color: transparent;
  color: var(--Input-Search);
  width: 100%;
}

.inputSearch input:focus {
  border: 0;
  outline: 0;
}

.inputSearch input::placeholder {
  color: var(--Input-Search);
  font-weight: 600;
}

.icon {
  margin-right: 2rem;
  color: var(--Input-Search);
}
