:root {
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Input-Search: hsl(0, 0%, 52%);
}
[data-theme="dark"] {
  --White: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(0, 0%, 98%);
  --Very-Light-Gray: hsl(207, 26%, 17%);
  --Dark-Gray: hsl(200, 15%, 8%);
  --Input-Search: hsl(0, 0%, 98%);
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Very-Light-Gray);
  transition: all 0.5s;
}

.container {
  display: grid;
  place-items: center;
}

.content {
  width: 80%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
  gap: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.no-data {
  color: var(--Very-Dark-Blue);
}

@media (max-width: 767px) {
  .cards {
    display: flex;
    justify-content: center;
  }
}
